// Use blue as primary color.
$blue: #be2edd;
$blue-invert: #fff;

$flamingo: #4834d4;
$flamingo-invert: #fff;

$negative: #181c21;

// Colors
$success: #52D8A4;
$danger: #ea4889;
$info: #5180F4;
$warning: #F7803E;

// Text colors
$grey-background: #EDEFF2;
$grey-lighter: #E4E8EF;
$grey-light: #CCD2DD;
$grey-dark: #595E80;
$grey-darker: #2D2C33;

$body-family: 'Inter UI', sans-serif;
$head-family: 'Inter UI', sans-serif;
$mono-family: 'Roboto Mono', monospace;

$nav-bar-height: 6rem;
$nav-bar-fixed-height: 4rem;
