<footer class="site-footer negative {{ include.classname }}">
    <div class="container  {% if include.fluid %}is-fluid{% endif %} ">
        <div class="columns">
            <div class="column is-two-thirds">
                <!-- <h2 class="is-size-3">{{ site.title | escape }}</h2> -->
                <img src="{{ site.baseurl }}/assets/images/favoloso-team.svg" width="160" alt="Logo Favoloso Team" />
                <p>
                    Documentazione del Framework Flamingo
                </p>
            </div>

            <div class="column is-one-third">
                Made by <a href="https://favoloso.team">Favoloso Team</a>
            </div>
        </div>
    </div>
</footer>
